{
	"format_version": 2,
	"header": {
		"name": "{{ .Name }}",
		"description": "{{ .Description }}",
		"uuid": "{{ New }}",
		"version": [
			0,
			0,
			1
		],
		"min_engine_version": [
			1,
			20,
			50
		]
	},
	"modules": [
		{
			"type": "data",
			"uuid": "{{ New }}",
			"version": [
				1,
				0,
				0
			]
		},
		{
			"type": "script",
			"language": "javascript",
			"uuid": "{{ New }}",
			"version": [
				0,
				0,
				1
			],
			"entry": "scripts/main.js"
		}
	],
	"dependencies": [
		{
			"module_name": "@minecraft/server",
			"version": "{{ .APIVersion }}"
		},
		{{ if .UsesUI }}
		{
			"module_name": "@minecraft/server-ui",
			"version": "@minecraft/server-ui@ {{- if .IsBeta -}}1.2.0-beta{{- else -}}1.1.0{{- end -}}"
		}
		{{ end }}
	]
}
